/* CONTACT PAGE */

.contact-content{
position:relative;
min-height:70vh;
padding:20px;
}

.contact-content::after{
content:"";
background-image:url("../img/home.jpg");
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
opacity:0.15;
z-index:-1;
}

.contact-content h2{
text-align:center;
margin-bottom:30px;
}

.contact-form{
max-width:600px;
margin:auto;
}

.form-box{
margin-bottom:15px;
}

.form-box input,
.form-box textarea{

width:100%;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
font-size:16px;

}

.form-box textarea{
height:120px;
resize:none;
}

.form-box button{
cursor:pointer;
}